In [43]:
import numpy as np
import pandas as pd

# Исходный Data Frame

In [44]:
path = './_data.csv'
df = pd.read_csv(path)
df.head()

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Телефоны,Описание,Ремонт,"Площадь комнат, м2",Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","+79672086536, +79099269384","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",Евроремонт,NaN,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...","+79660342340, +79099269384",ID 31618: Эксклюзивное предложение. Современн...,Евроремонт,14-42-20-19,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",+79852432860,Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,Евроремонт,20 18,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

# Преобразование названий колонок

In [45]:
df.columns = ['Serial_number', 'Announcement ID', 'Number_of_rooms', 'Type', 'Metro', 'Address', 'Area,m2', 'Building_info', 'Parking', 'Price', 'Phone_number', 'Description', 'Interior_finishing',
              'area_of_rooms_m2', 'Balcony', 'Windows', 'Bathroom', 'Children/pets_allowed', 'Additionally', 'Name_of_the_residential_complex', 'Home_series', 'Ceiling_height_m', 'Elevator', 'Garbage_chute', 'Link_to_ad']

In [46]:
df.head(5)

,Serial_number,Announcement ID,Number_of_rooms,Type,Metro,Address,"Area,m2",Building_info,Parking,Price,Phone_number,Description,Interior_finishing,area_of_rooms_m2,Balcony,Windows,Bathroom,Children/pets_allowed,Additionally,Name_of_the_residential_complex,Home_series,Ceiling_height_m,Elevator,Garbage_chute,Link_to_ad
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","+79672086536, +79099269384","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",Евроремонт,NaN,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...","+79660342340, +79099269384",ID 31618: Эксклюзивное предложение. Современн...,Евроремонт,14-42-20-19,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",+79852432860,Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,Евроремонт,20 18,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

# Избавляемся от пропусков

In [47]:
#df['Price'] = df['Price'].str.split(' ').str[0]
df['Area,m2'] = df['Area,m2'].str.split('/').str[0]
df['Number_of_rooms'] = df['Number_of_rooms'].str.split(',').str[0]
#df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Area,m2'] = pd.to_numeric(df['Area,m2'], errors='coerce')
df['Number_of_rooms'] = pd.to_numeric(df['Number_of_rooms'], errors='coerce')
df.head()

,Serial_number,Announcement ID,Number_of_rooms,Type,Metro,Address,"Area,m2",Building_info,Parking,Price,Phone_number,Description,Interior_finishing,area_of_rooms_m2,Balcony,Windows,Bathroom,Children/pets_allowed,Additionally,Name_of_the_residential_complex,Home_series,Ceiling_height_m,Elevator,Garbage_chute,Link_to_ad
0,0,271271157,4.0,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4.0,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,4.0,Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","+79672086536, +79099269384","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",Евроремонт,NaN,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,4.0,Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...","+79660342340, +79099269384",ID 31618: Эксклюзивное предложение. Современн...,Евроремонт,14-42-20-19,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2.0,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",+79852432860,Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,Евроремонт,20 18,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

In [48]:
# Заолним пропуски в колонке Number_of_rooms средним значением
df['Number_of_rooms'] = df['Number_of_rooms'].fillna(int(df['Number_of_rooms'].mean()))

In [49]:
# Обрабатываем колонку area_of_rooms_m2
# Заменим чёрточки и плюсики в столбцах
df['area_of_rooms_m2'] = df['area_of_rooms_m2'].str.replace('-', ' ').str.replace('+', ' ').str.split(' ')
df['area_of_rooms_m2']

0                       NaN
1          [25, 25, 20, 25]
2                       NaN
3          [14, 42, 20, 19]
4                  [20, 18]
                ...
23363                   NaN
23364                   NaN
23365                   NaN
23366                   NaN
23367    [26,2, 15,5, 22,0]
Name: area_of_rooms_m2, Length: 23368, dtype: object

In [50]:
# Напишем функцию котоая вернёт сумму площадей комнат и пропуск там где пропуск
def sum_areas(val):
    if val is None:
        return None  
    if isinstance(val, str):
        return float(val) if val.isdigit() else None  
    elif isinstance(val, list):
        return sum(float(x) for x in val if x.isdigit())  
    return None

In [51]:
df['area_of_rooms_m2'] = df['area_of_rooms_m2'].apply(sum_areas)

In [52]:
# Проверим на выбросы
df['area_of_rooms_m2'].max()

np.float64(79060990004.0)

In [53]:
# Избавимся от выбросов, на место выбросов вернём NaN

df.loc[(df.area_of_rooms_m2 < 10) | (df.area_of_rooms_m2 > 1000), 'area_of_rooms_m2'] = np.nan

In [54]:
df['area_of_rooms_m2'].max()

np.float64(490.0)

In [55]:
df['area_of_rooms_m2'] = df['area_of_rooms_m2'].fillna(int(df['area_of_rooms_m2'].mean()))

In [56]:
# Обработаем колонку Ceiling height_m
# Проверим её на выбросы
df['Ceiling_height_m'].max()

np.float64(320.0)

In [57]:
# Избавимся от выбросов

df.loc[(df.Ceiling_height_m < 1.5) | (df.Ceiling_height_m > 4), 'Ceiling_height_m'] = np.nan

In [58]:
df['Ceiling_height_m'].max()

np.float64(4.0)

In [59]:
# Заполним пропуски средним
df['Ceiling_height_m'] = df['Ceiling_height_m'].fillna(int(df['Ceiling_height_m'].mean()))

In [60]:
# Заполним пропуски в категориальных признаках модой
df['Metro'] = df['Metro'].fillna(df['Metro'].mode()[0])
df['Parking'] = df['Parking'].fillna(df['Parking'].mode()[0])
df['Interior_finishing'] = df['Interior_finishing'].fillna(df['Interior_finishing'].mode()[0])
df['Balcony'] = df['Balcony'].fillna(df['Balcony'].mode()[0])
df['Windows'] = df['Windows'].fillna(df['Windows'].mode()[0])
df['Bathroom'] = df['Bathroom'].fillna(df['Bathroom'].mode()[0])
df['Children/pets_allowed'] = df['Children/pets_allowed'].fillna(df['Children/pets_allowed'].mode()[0])
df['Additionally'] = df['Additionally'].fillna(df['Additionally'].mode()[0])
df['Elevator'] = df['Elevator'].fillna(df['Elevator'].mode()[0])
df['Garbage_chute'] = df['Garbage_chute'].fillna(df['Garbage_chute'].mode()[0])
df['Name_of_the_residential_complex'] = df['Name_of_the_residential_complex'].fillna(df['Name_of_the_residential_complex'].mode()[0])
df['Home_series'] = df['Home_series'].fillna(df['Home_series'].mode()[0])
df['Link_to_ad'] = df['Link_to_ad'].fillna(df['Link_to_ad'].mode()[0])

In [61]:
df.head(5)

,Serial_number,Announcement ID,Number_of_rooms,Type,Metro,Address,"Area,m2",Building_info,Parking,Price,Phone_number,Description,Interior_finishing,area_of_rooms_m2,Balcony,Windows,Bathroom,Children/pets_allowed,Additionally,Name_of_the_residential_complex,Home_series,Ceiling_height_m,Elevator,Garbage_chute,Link_to_ad
0,0,271271157,4.0,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,36.0,Балкон (1),Во двор,Совмещенный (1),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",индивидуальный проект,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4.0,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,95.0,Балкон (1),На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,индивидуальный проект,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,4.0,Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","+79672086536, +79099269384","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",Евроремонт,36.0,Балкон (1),На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,индивидуальный проект,3.2,Пасс (1),Да,https://www.cian.ru/rent/flat/271173086
3,3,272197456,4.0,Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...","+79660342340, +79099269384",ID 31618: Эксклюзивное предложение. Современн...,Евроремонт,95.0,Балкон (1),На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Символ, 2019",индивидуальный проект,3.2,Пасс (1),Да,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2.0,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0,"12/26, Панельный",наземная,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",+79852432860,Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,Евроремонт,38.0,Балкон (1),На улицу и двор,Совмещенный (2),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,индивидуальный проект,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23368 entries, 0 to 23367
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Serial_number                    23368 non-null  int64
 1   Announcement ID                  23368 non-null  int64
 2   Number_of_rooms                  23368 non-null  float64
 3   Type                             23368 non-null  object
 4   Metro                            23368 non-null  object
 5   Address                          23368 non-null  object
 6   Area,m2                          23368 non-null  float64
 7   Building_info                    23368 non-null  object
 8   Parking                          23368 non-null  object
 9   Price                            23368 non-null  object
 10  Phone_number                     23368 non-null  object
 11  Description                      23368 non-null  object
 12  Interior_finishing               23368 non-null  object
 13  area_of_rooms_m2                 23368 non-null  float64
 14  Balcony                          23368 non-null  object
 15  Windows                          23368 non-null  object
 16  Bathroom                         23368 non-null  object
 17  Children/pets_allowed            23368 non-null  object
 18  Additionally                     23368 non-null  object
 19  Name_of_the_residential_complex  23368 non-null  object
 20  Home_series                      23368 non-null  object
 21  Ceiling_height_m                 23368 non-null  float64
 22  Elevator                         23368 non-null  object
 23  Garbage_chute                    23368 non-null  object
 24  Link_to_ad                       23368 non-null  object
dtypes: float64(4), int64(2), object(19)
memory usage: 4.5+ MB

In [63]:
df.describe()

,Serial_number,Announcement ID,Number_of_rooms,"Area,m2",area_of_rooms_m2,Ceiling_height_m
count,23368.000000,2.336800e+04,23368.000000,23368.000000,23368.000000,23368.000000
mean,11683.500000,2.676265e+08,2.013266,62.819425,36.007874,2.358299
std,6745.904881,1.876862e+07,0.978038,46.699425,20.012936,0.409158
min,0.000000,1.072986e+08,1.000000,7.000000,10.000000,2.000000
25%,5841.750000,2.712663e+08,1.000000,38.000000,27.000000,2.000000
50%,11683.500000,2.739030e+08,2.000000,48.000000,36.000000,2.000000
75%,17525.250000,2.746872e+08,3.000000,70.000000,36.000000,2.640000
max,23367.000000,2.750064e+08,6.000000,811.000000,490.000000,4.000000

In [64]:
df.describe(include=['object'])

,Type,Metro,Address,Building_info,Parking,Price,Phone_number,Description,Interior_finishing,Balcony,Windows,Bathroom,Children/pets_allowed,Additionally,Name_of_the_residential_complex,Home_series,Elevator,Garbage_chute,Link_to_ad
count,23368,23368,23368,23368,23368,23368,23368,23368,23368,23368,23368,23368,23368,23368,23368,23368,23368,23368,23368
unique,1,5866,12850,2565,5,3922,13172,23078,4,18,3,20,3,528,1798,393,34,2,23368
top,Квартира,м. Академическая (10 мин пешком),"Москва, Чапаевский переулок, 3","3/5, Кирпичный",наземная,"40000.0 руб./ За месяц, Залог - 40000 руб., Ко...",+79819217172,0,Косметический,Балкон (1),Во двор,Совмещенный (1),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Сти...","Символ, 2019",индивидуальный проект,Пасс (1),Да,https://www.cian.ru/rent/flat/274672243
freq,23368,1356,63,322,19460,1113,302,108,11254,15406,17483,12750,16230,3253,17581,21820,11411,21419,1

In [65]:
df.isna().mean()*100

Serial_number                      0.0
Announcement ID                    0.0
Number_of_rooms                    0.0
Type                               0.0
Metro                              0.0
Address                            0.0
Area,m2                            0.0
Building_info                      0.0
Parking                            0.0
Price                              0.0
Phone_number                       0.0
Description                        0.0
Interior_finishing                 0.0
area_of_rooms_m2                   0.0
Balcony                            0.0
Windows                            0.0
Bathroom                           0.0
Children/pets_allowed              0.0
Additionally                       0.0
Name_of_the_residential_complex    0.0
Home_series                        0.0
Ceiling_height_m                   0.0
Elevator                           0.0
Garbage_chute                      0.0
Link_to_ad                         0.0
dtype: float64

# Feature engineering

In [66]:
df = df.drop_duplicates(subset=['Address', 'Price', 'Additionally'], keep='last')

удалим колонку Type, т.к. тип всех объявлений - "Квартира"

In [67]:
df = df.drop(['Type'], axis=1)

удалим колонки с уникальной идентификационной информацией для каждого объявления, кроме ID

In [68]:
df = df.drop(['Address', 'Phone_number', 'Description'], axis=1)

преобразуем колонку Metro в две колонки: Location c названием станции и Walk_time с временем в пути до метро

In [69]:
df[['Location', 'Walk_time']] = df['Metro'].str.extract(r'м\. (.*?) \((\d+) мин пешком\)')

In [70]:
# удалим исходную колонку Metro
df = df.drop(['Metro'], axis=1)

In [71]:
# заполним пропуски в колонках Location и Walk_time
df['Location'] =df['Location'].fillna(df['Location'].mode()[0])
df['Walk_time'] = pd.to_numeric(df['Walk_time'], errors='coerce')
df['Walk_time'] = df['Walk_time'].fillna(int(df['Walk_time'].mean()))

преобразуем категориальный признак - название метро -  в числовой:

In [72]:
metro = {row: i for i, row in enumerate(sorted(list(set(df['Location']))))}
df['Location'] = [metro[row] for row in df['Location']]

In [73]:
df[['Floor', 'Numb_of_floors', 'Building_type']] = df['Building_info'].str.extract(r'(\d+)/(\d+)(?:,\s*(.+))?')

In [74]:
# избавимся от пропусков Building_type, удалим исходную колонку Building_info
df['Building_type'].fillna('Не указано', inplace=True)
df = df.drop(['Building_info'], axis=1)

/tmp/ipykernel_15394/4052296484.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Building_type'].fillna('Не указано', inplace=True)

преобразуем категориальный признак - тип дома -  в числовой:

In [75]:
b_type = {row: i for i, row in enumerate(sorted(list(set(df['Building_type']))))}
df['Building_type'] = [b_type[row] for row in df['Building_type']]

преобразуем категориальные признаки - парковка и ремонт - в числовой:

In [76]:
parking = {row: i for i, row in enumerate(sorted(list(set(df['Parking']))))}
df['Parking'] = [parking[row] for row in df['Parking']]

In [77]:
interior = {row: i for i, row in enumerate(sorted(list(set(df['Interior_finishing']))))}
df['Interior_finishing'] = [interior[row] for row in df['Interior_finishing']]

разобьем колонку Price на несколько колонок:

In [78]:
df['Pledge'] = df['Price'].str.extract(r'Залог - (\d+\.?\d*)\sруб\.')
df['Utilities'] = df['Price'].str.contains('Коммунальные услуги включены').astype(int)
df['Period'] = df['Price'].str.extract(r'Срок аренды - (.*?)(?:,|$)')
df['Prepayment'] = df['Price'].str.contains('Предоплата').astype(int)
df['Price'] = df['Price'].str.split(' ').str[0]
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

df['Pledge'].fillna(0, inplace=True)
df['Pledge'] = df['Pledge'].astype(float)
df['Utilities'] = df['Utilities'].astype(int)
df['Prepayment'] = df['Prepayment'].astype(int)

/tmp/ipykernel_15394/2134765332.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Pledge'].fillna(0, inplace=True)

преобразуем колонки "Floor" и "Numb_of_floors" в числовой вид:

In [79]:
df['Floor'] = df['Floor'].astype(int)
df['Numb_of_floors'] = df['Numb_of_floors'].astype(int)

преобразуем категориальный признак - период сдачи квартиры -  в числовой:

In [80]:
period = {row: i for i, row in enumerate(sorted(list(set(df['Period']))))}
df['Period'] = [period[row] for row in df['Period']]

In [81]:
pd.set_option('display.max_columns', None)
df.head()

,Serial_number,Announcement ID,Number_of_rooms,"Area,m2",Parking,Price,Interior_finishing,area_of_rooms_m2,Balcony,Windows,Bathroom,Children/pets_allowed,Additionally,Name_of_the_residential_complex,Home_series,Ceiling_height_m,Elevator,Garbage_chute,Link_to_ad,Location,Walk_time,Floor,Numb_of_floors,Building_type,Pledge,Utilities,Period,Prepayment
0,0,271271157,4.0,200.0,4,500000.0,1,36.0,Балкон (1),Во двор,Совмещенный (1),"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",индивидуальный проект,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157,249,9.0,5,16,5,500000.0,1,0,1
1,1,271634126,4.0,198.0,4,500000.0,1,95.0,Балкон (1),На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,индивидуальный проект,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126,249,8.0,5,16,4,500000.0,1,0,1
2,2,271173086,4.0,200.0,4,500000.0,2,36.0,Балкон (1),На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,индивидуальный проект,3.2,Пасс (1),Да,https://www.cian.ru/rent/flat/271173086,249,7.0,5,16,6,500000.0,0,0,1
3,3,272197456,4.0,170.0,4,400000.0,2,95.0,Балкон (1),На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Символ, 2019",индивидуальный проект,3.2,Пасс (1),Да,https://www.cian.ru/rent/flat/272197456,249,3.0,5,6,6,400000.0,0,0,1
4,4,273614615,2.0,58.0,2,225000.0,2,38.0,Балкон (1),На улицу и двор,Совмещенный (2),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,индивидуальный проект,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615,12,7.0,12,26,7,225000.0,1,0,1

In [82]:
# Обрабатываем колонку Balcony
df['Loggia'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Лоджия' else '(0)' for row in df['Balcony']]
df['Balcony'] = [row.split(' ')[1] if row.split(' ')[0] == 'Балкон' else '(0)' for row in df['Balcony']]

In [83]:
# Корректируем значения, избавляясь от скобок и переделывая из str в int
df['Loggia'] = [row.split('(')[1] for row in df['Loggia']]
df['Loggia'] = [int(row.split(')')[0]) for row in df['Loggia']]
df['Balcony'] = [row.split('(')[1] for row in df['Balcony']]
df['Balcony'] = [int(row.split(')')[0]) for row in df['Balcony']]

In [84]:
# Обрабатываем колонку Bathroom 	
df['Bathroom_combined'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Совмещенный' else '(0)' for row in df['Bathroom']]
df['Bathroom_separated'] = [row.split(' ')[1] if row.split(' ')[0] == 'Раздельный' else '(0)' for row in df['Bathroom']]

In [85]:
# Корректируем значения, избавляясь от скобок и переделывая из str в int
df['Bathroom_combined'] = [row.split('(')[1] for row in df['Bathroom_combined']]
df['Bathroom_combined'] = [int(row.split(')')[0]) for row in df['Bathroom_combined']]
df['Bathroom_separated'] = [row.split('(')[1] for row in df['Bathroom_separated']]
df['Bathroom_separated'] = [int(row.split(')')[0]) for row in df['Bathroom_separated']]

In [86]:
# Обработаем колонку Elevator
df['Elevator_pass'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Пасс' else '(0)' for row in df['Elevator']]
df['Elevator_cargo'] = [row.split(' ')[1] if row.split(' ')[0] == 'Груз' else '(0)' for row in df['Elevator']]

In [87]:
# Корректируем значения, избавляясь от скобок и переделывая из str в int
df['Elevator_pass'] = [row.split('(')[1] for row in df['Elevator_pass']]
df['Elevator_pass'] = [int(row.split(')')[0]) for row in df['Elevator_pass']]
df['Elevator_cargo'] = [row.split('(')[1] for row in df['Elevator_cargo']]
df['Elevator_cargo'] = [int(row.split(')')[0]) for row in df['Elevator_cargo']]

In [88]:
# Удалим лишние столбцы
df.drop(columns=['Bathroom', 'Elevator'], inplace=True)

In [89]:
# Обработаем колонку Windows
df['Windows_street'] = [1 if (row.split(' ')[1]) == 'улицу' else 0 for row in df['Windows']]
df['Windows_yard'] = [1 if row.split(' ')[-1] == 'двор' else 0 for row in df['Windows']]

In [90]:
# удалим колонку Windows
df.drop(columns=['Windows'], inplace=True)

In [91]:
# Обработаем колонку Children/pets_allowed
df['Children_allowed'] = [1 if (row.split(' ')[2]) == 'детьми' else 0 for row in df['Children/pets_allowed']]
df['Pets_allowed'] = [1 if row.split(' ')[-1] == 'животными' else 0 for row in df['Children/pets_allowed']]

In [92]:
# Удалим лишний столбец Children/pets_allowed
df.drop(columns=['Children/pets_allowed'], inplace=True)

In [93]:
# Удалим столбец с ссылкой на объявление, так как он не несёт в себе никакой информации, а так же удалим столбцы Name_of_the_residential_complex и Home_series, так как в них была большая доля пропусков и по смыслу они не сильно значимы
df.drop(columns=['Name_of_the_residential_complex', 'Home_series', 'Link_to_ad'], inplace=True)

In [94]:
# Отредактируем колонку Garbage_chute
df['Garbage_chute'] = [1 if row == 'Да' else 0 for row in df['Garbage_chute']]

In [96]:
# Преобразуем колонку Additionally
df['Furniture_in_the_rooms'] = [1 if 'Мебель в комнатах' in row else 0 for row in df['Additionally']]
df['Kitchen_furniture'] = [1 if 'Мебель на кухне' in row else 0 for row in df['Additionally']]
df['Bath'] = [1 if 'Ванна' in row else 0 for row in df['Additionally']]
df['Shower_cabin'] = [1 if 'Душевая кабина' in row else 0 for row in df['Additionally']]
df['Washing_machine'] = [1 if 'Стиральная машина' in row else 0 for row in df['Additionally']]
df['Dishwasher'] = [1 if 'Посудомоечная машина' in row else 0 for row in df['Additionally']]
df['TV'] = [1 if 'Телевизор' in row else 0 for row in df['Additionally']]
df['Fridge'] = [1 if 'Холодильник' in row else 0 for row in df['Additionally']]
df['Internet'] = [1 if 'Интернет' in row else 0 for row in df['Additionally']]
df['Сonditioner'] = [1 if 'Кондиционер' in row else 0 for row in df['Additionally']]
df['Phone'] = [1 if 'Телефон' in row else 0 for row in df['Additionally']]

In [97]:
# Избавимся от лишнего столбца
df.drop(columns=['Additionally'], inplace=True)

In [98]:
df.head(10)

,Serial_number,Announcement ID,Number_of_rooms,"Area,m2",Parking,Price,Interior_finishing,area_of_rooms_m2,Balcony,Ceiling_height_m,Garbage_chute,Location,Walk_time,Floor,Numb_of_floors,Building_type,Pledge,Utilities,Period,Prepayment,Loggia,Bathroom_combined,Bathroom_separated,Elevator_pass,Elevator_cargo,Windows_street,Windows_yard,Children_allowed,Pets_allowed,Furniture_in_the_rooms,Kitchen_furniture,Bath,Shower_cabin,Washing_machine,Dishwasher,TV,Fridge,Internet,Сonditioner,Phone
0,0,271271157,4.0,200.0,4,500000.0,1,36.0,1,3.0,1,249,9.0,5,16,5,500000.0,1,0,1,0,1,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1
1,1,271634126,4.0,198.0,4,500000.0,1,95.0,1,3.5,0,249,8.0,5,16,4,500000.0,1,0,1,0,0,0,0,0,1,1,1,0,1,1,1,1,1,1,1,1,1,1,0
2,2,271173086,4.0,200.0,4,500000.0,2,36.0,1,3.2,1,249,7.0,5,16,6,500000.0,0,0,1,0,3,0,1,0,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
3,3,272197456,4.0,170.0,4,400000.0,2,95.0,1,3.2,1,249,3.0,5,6,6,400000.0,0,0,1,0,3,0,1,0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1
4,4,273614615,2.0,58.0,2,225000.0,2,38.0,1,3.9,1,12,7.0,12,26,7,225000.0,1,0,1,0,2,0,0,0,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0
5,5,274837728,3.0,92.0,2,470000.0,1,36.0,1,2.0,1,249,5.0,3,7,6,470000.0,0,0,1,0,1,0,1,0,0,1,1,0,1,1,1,1,1,1,1,1,0,1,0
6,6,273643908,5.0,213.0,2,350000.0,2,140.0,1,3.2,1,12,4.0,4,5,6,350000.0,0,0,1,0,2,0,1,0,1,1,0,1,1,1,1,0,1,1,1,1,1,0,1
7,7,274475342,3.0,98.0,4,250000.0,2,63.0,1,3.2,0,249,3.0,2,4,5,250000.0,1,0,1,0,0,0,1,0,0,1,0,1,1,1,1,1,1,1,0,1,1,1,0
8,8,273973191,3.0,120.0,3,130000.0,2,95.0,1,3.0,0,249,9.0,5,10,8,130000.0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,1,1,1,1,1,1,0
9,9,272900409,4.0,90.0,3,210000.0,2,66.0,1,2.0,1,12,10.0,2,7,8,210000.0,1,0,1,0,0,0,1,0,1,1,1,0,1,1,1,0,1,1,1,1,1,1,0

In [44]:
df.isna().mean()*100
# количество пропусков по столбцам

Serial_number                      0.0
Announcement ID                    0.0
Number_of_rooms                    0.0
Area,m2                            0.0
Parking                            0.0
Price                              0.0
Interior_finishing                 0.0
area_of_rooms_m2                   0.0
Balcony                            0.0
Windows                            0.0
Bathroom                           0.0
Children/pets_allowed              0.0
Additionally                       0.0
Name_of_the_residential_complex    0.0
Home_series                        0.0
Ceiling_height_m                   0.0
Elevator                           0.0
Garbage_chute                      0.0
Link_to_ad                         0.0
Location                           0.0
Walk_time                          0.0
Floor                              0.0
Numb_of_floors                     0.0
Building_type                      0.0
Pledge                             0.0
Utilities                          0.0
Period                             0.0
Prepayment                         0.0
dtype: float64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22974 entries, 0 to 23367
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Serial_number                    22974 non-null  int64
 1   Announcement ID                  22974 non-null  int64
 2   Number_of_rooms                  22974 non-null  float64
 3   Area,m2                          22974 non-null  float64
 4   Parking                          22974 non-null  int64
 5   Price                            22974 non-null  float64
 6   Interior_finishing               22974 non-null  int64
 7   area_of_rooms_m2                 22974 non-null  float64
 8   Balcony                          22974 non-null  object
 9   Windows                          22974 non-null  object
 10  Bathroom                         22974 non-null  object
 11  Children/pets_allowed            22974 non-null  object
 12  Additionally                     22974 non-null  object
 13  Name_of_the_residential_complex  22974 non-null  object
 14  Home_series                      22974 non-null  object
 15  Ceiling_height_m                 22974 non-null  float64
 16  Elevator                         22974 non-null  object
 17  Garbage_chute                    22974 non-null  object
 18  Link_to_ad                       22974 non-null  object
 19  Location                         22974 non-null  int64
 20  Walk_time                        22974 non-null  float64
 21  Floor                            22974 non-null  int64
 22  Numb_of_floors                   22974 non-null  int64
 23  Building_type                    22974 non-null  int64
 24  Pledge                           22974 non-null  float64
 25  Utilities                        22974 non-null  int64
 26  Period                           22974 non-null  int64
 27  Prepayment                       22974 non-null  int64
dtypes: float64(7), int64(11), object(10)
memory usage: 5.1+ MB

In [ ]:
Запишем
df.to_csv('data.csv', index=False, encoding='utf-8')